.progressbar-wrapper {
    width: 100%;
    padding-top: 10px;
    padding-bottom: 5px;
    margin-left: 26%;
}

.progressbar li {
    list-style-type: none;
    width: 20%;
    float: left;
    font-size: 12px;
    position: relative;
    text-align: center;
    text-transform: uppercase;
    color: #7d7d7d;
}
.progressbar li:before {
    width: 60px;
    height: 60px;
    content: "";
    line-height: 60px;
    border: 2px solid #7d7d7d;
    display: block;
    text-align: center;
    margin: 0 auto 3px auto;
    border-radius: 50%;
    position: relative;
    z-index: 2;
    background-color: #fff;
}
.progressbar li:after {
    width: 100%;
    height: 2px;
    content: '';
    position: absolute;
    background-color: #7d7d7d;
    top: 30px;
    left: -50%;
    z-index: 0;
}
.progressbar li:first-child:after {
    content: none;
}
.progressbar li.active {
    color: green;
    font-weight: bold;
}
.progressbar li.active:before {
    border-color: #55b776;
    background: green;
}
.progressbar li.active + li:after {
    background-color: #55b776;
}
.progressbar li.active:before {
    background: #55b776  no-repeat center center;
    background-size: 60%;
}
.progressbar li::before {
    background: #fff  no-repeat center center;
    background-size: 60%;
}
.progressbar {
    counter-reset: step;
}
.progressbar li:before {
    content: counter(step);
    counter-increment: step;
}
.field-entrepots{
    margin-top: 5%;
    margin-left: 15%;
    margin-right: 5%;
}
.input-hidden{
    display: none;
}
.top-margin{
    margin-top: 4%;
}
.overlay-achat{
    display: block;
    opacity: 0;
    position: absolute;
    top: 10%;
    margin-left: 0;
    width: 70px;
}
.product-top:hover .overlay-achat{
    opacity: 1;
    transition: 0.5s;
}
.overlay-achat .fa{
    cursor: pointer;
    background-color: #6A6A6A;
    font-size: 20px;
    padding: 7px;
    margin: 5%;
}
.margin-right{
    margin-right: 15%;
}
.margin-left{
    margin-left: 10%;
}
